<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

  {{> navbar }}
  <section class="gary-color">
  <div class="container">
    {{> middle-logo }}
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
          <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <div class="section-title text-center">
            <h2>Edit Roles</h2>
          </div>
              <form>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  id="opName" placeholder="Operator Name" value="" >
                  <label for="Operator Name">Role Name</label>
                </div>
               <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="wrkorder" placeholder="Work Order" disabled>
                  <label for="Workorder">Admin Interface</label>
                </div>
                <div class="form-floating mb-3">
                  <select class="form-select" name="reason" id="" data-rule-required="true">
                    <option  value="">Maintain Part Data</option> 
                    <option  value="">Maintain Pending Data</option>
                    <option  value="">Maintain Replace Tool Data</option>
                    <option  value="">Maintain Maintenance Data</option>
                    <option  value="">Maintain Out of Order Data</option>
                    
                  </select>
                  <label >Select Application</label>
                </div>
                <div class=" mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Read</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Insert</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                        <label class="form-check-label" for="inlineCheckbox3">Update</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                        <label class="form-check-label" for="inlineCheckbox3">Delete</label>
                    </div>
                </div>
                <div class="d-grid mb-2 mt-4">
                  <button id="" class="btn btn-lg btn-primary btn-login" >Update<span> </span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
  </section>
  {{> scripts }}
 <script src="js/pendingjs-script.js"></script>
</body>

</html>
