<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}

<section class="gary-color custom-vh100">
 <div class="container">
   {{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3" >
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
				<h2>Admin Menu</h2>
			</div>
          	
				{{!-- <div class="d-grid mb-2 mt-4">
					<a href="#" class="btn btn-lg btn-primary btn-login ">Approved User Request</a>
				</div> --}}
				<div class="d-grid mb-2 mt-4">
					<a href="/admin-main-part" class="btn btn-lg btn-primary btn-login ">Maintain Part Data</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/admin-main-pending" class="btn btn-lg btn-primary btn-login ">Maintain Pending Data</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/admin-main-replacetool" class="btn btn-lg btn-primary btn-login ">Maintain Replace Tool Data</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/admin-main-maintenance" class="btn btn-lg btn-primary btn-login ">Maintain Maintenance Data</a>
				</div>
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-outoforder" class="btn btn-lg btn-primary btn-login ">Maintain Out of Order Data</a>
            </div>
            {{!-- <div class="d-grid mb-2 mt-4">
                <a href="#" class="btn btn-lg btn-primary btn-login ">Maintain Quality Reason</a>
            </div> --}}
			
          </div>
        </div>
		
      </div>
    </div>
  </div>
   
   
  </div>
</section>

<script>
	localStorage.clear();
</script>
 {{> scripts }}
	


</body>

</html>
