<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}

<section class="gary-color custom-vh100">
 <div class="container">
  {{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3" >
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
				<h2>Maintain Part Menu</h2>
          
			</div>
              	
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-running" class="btn btn-lg btn-primary btn-login ">Maintain Running Time</a>
            </div>
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-setup-time" class="btn btn-lg btn-primary btn-login ">Maintain Setup Time</a>
            </div>
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-load-time" class="btn btn-lg btn-primary btn-login ">Maintain Load Time</a>
            </div>
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-unload-time" class="btn btn-lg btn-primary btn-login ">Maintain Unload Time</a>
            </div>
            <div class="d-grid mb-2 mt-4">
                <a href="/admin-main-pause-time" class="btn btn-lg btn-primary btn-login ">Maintain  Pause Time</a>
            </div>
          </div>
        </div>
		
      </div>
    </div>
  </div>
   
   
  </div>
</section>

<script>
	localStorage.clear();
</script>
 {{> scripts }}
	


</body>

</html>
