<!DOCTYPE html>
<html lang="en">

  <head>
   
    <link rel="stylesheet" href="css/datepicker.css">
     <link rel="stylesheet" href="css/timepicker.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
     {{> style }}
   <style>
    .dataTables_length{
      display: none;
    }
    .custom-menu{
  
    background: #fff;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 17px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 17px rgb(0 0 0 / 5%);
      padding: 0px;
      
      min-width: 5rem;
    }
    .dropdown-item{
        color: #607d8b;
    display: block;
    font-size: 14px;
    line-height: 30px;
    }
    </style>
  </head>

<body>

  {{> navbar }}
  <section class="gary-color custom-vh100">
  <div class="container">
      {{> middle-logo }}
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
          <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
            
            <div class="card-body p-4 p-sm-5">
              <div class="section-title text-center mb-3">
                <h2>Running Time</h2>
             </div>
              <form id="main_run_serach">
               
                <div class="col-lg-12">
                  <div class="row">
                      <div class="col-lg-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control"  id="st_date" name="st-date" placeholder="Start Date" data-rule-required="true">
                          <label>Start Date</label>
                        </div>
                     </div>  
                      <div class="col-lg-6 ">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="end_date" name="end-date" placeholder="End Date" data-rule-required="true">
                          <label for="Workorder">End Date</label>
                        </div>
                      </div> 
                  </div>
                </div>      
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control"  id="search_mc_ID" name="mcid" placeholder="Search by Machine ID">
                            <label >Search by Machine ID </label>
                      </div> 
                    </div>  
                    <div class="col-lg-6 site-search">
                     <div class="form-floating mb-3">
                      <select class="form-select" name="siteName" id="search_site_name" >
                      </select>
                    <label >Search by Site Name</label>
                    </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="search_op" name="operator" placeholder="Search by Operator Number">
                          <label >Search by Operator </label>
                      </div> 
                    </div>  
                    <div class="col-lg-6">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control"  id="search_wrk_ord" name="workorder" placeholder="Search by Workorder">
                        <label >Search by Workorder</label>
                      </div>
                    </div>
                  </div>
                </div>  
                
                <div class="d-grid mb-2 mt-4">
                  <button  type="button" class="btn btn-lg btn-primary btn-login" id="main_run_serachbtn">Search<span> </span></button>
                </div>
              </form>
               <div class="row">
                  <div class="col-lg-12 col-xl-12 ">
                      <div class="search-table table-responsive d-none">
                        <div class="d-flex ">
                          <div class="p-2"></div>
                          <div class="p-2"></div>
                          <div class="ms-auto p-2"> 
                            <a  style="width: 26px;
                            height: 26px;
                            text-align: center;
                            font-size: 12px;
                            padding: 4px 8px;" title="Search" href="/admin-main-running" type="button" class="btn btn-lg btn-primary " ><span><i class="fa fa-search" aria-hidden="true"></i></span></a>
                                  </div>
                        </div>
                     
             
                        <table id="example" class="display  " style="width:100%">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Site</th>
                              <th>Machine Id</th>
                              <th>Operator Number</th>
                               <th>Action</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                    </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-container"></div>
    
    </div>
  </section>
  {{> scripts }}
  <script src="js/moment.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/timepicker.js"></script>
  <script src="js/jquery.dataTables.min.js"></script>
 <script src="js/admin/admin-main-runningjs-script.js"></script>
 <script src="js/admin/admin-main-running-searchjs-script.js"></script>
</body>

</html>
