<div class="modal fade" id="delete_popup" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to  delete  this item ?</p>
         <div class="d-flex justify-content-center">
            <button class="btn btn-sm btn-primary btn-login me-3" type="button" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-sm btn-primary btn-login" type="button" id="delete_subbtn">Delete<span></span></button>
         </div>
          
      </div>
      
    </div>
  </div>
</div>
    
 