<div class="modal fade" id="edit-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="loading-bg ">
		<div class="loading-ring">
       <i class='p-0 ms-2 fa fa-spinner fa-spin'></i>
		</div>
	</div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control"  id="edit_GP" placeholder="Number of Good Parts">
            <label>Number of Good Parts</label>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="edit_SD" placeholder="Start Date">
                  <label>Start Date</label>
                </div>
                </div> 
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control"  id="edit_ED" placeholder="End Date">
                    <label>End Date</label>
                  </div>
                </div>
            </div>
          </div>
            <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="edit_ST" placeholder="Start Time">
                  <label>Start Time</label>
                </div>
                </div> 
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control"  id="edit_ET" placeholder="End Time">
                    <label>End Time</label>
                  </div>
                </div>
                <span id="Time_Error" class="text-danger fs-12"></span>
            </div>
          </div>   
          <div class="d-grid mb-2 mt-4">
            <button class="btn btn-lg btn-primary btn-login" type="button" id="update_subbtn">Update<span></span></button>
          </div>
        </form>
        
       
      </div>
      
    </div>
  </div>
</div>
    
 