<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}
<section class="gary-color vh-100">
 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3" id="frg-pwd-block1">
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
          <h2>Forgot Password</h2>
          
        </div>
            <form>
			<div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                <label for="floatingInputEmail">Email Id</label>
              </div>
            
				
              <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary btn-login " id="frg-pwd-btn1" type="button">Continue</button>
              </div>
			  
            </form>
          </div>
        </div>
		<div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden d-none animate__animated " id="frg-pwd-block2">
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
          <h2>Forgot password</h2>
          
        </div>
            <form>

             

              
			  
			   <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus>
                <label for="floatingInputUsername">OTP</label>
              </div>
			  
            
				<p class="text-start text-dark">Please enter OTP  sent to your registered email / phone number</p>
              <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary btn-login " type="button" id="frg-pwd-btn2">Continue</button>
              </div>
			   

            </form>
          </div>
        </div>
		<div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden d-none animate__animated " id="frg-pwd-block3">
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
          <h2>Forgot password</h2>
          
        </div>
            <form>

             

              
			  
			  <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                <label for="floatingPasswordConfirm">Confirm Password</label>
              </div>
            
				
              <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary btn-login " type="button" id="frg-pwd-btn3">Submit</button>
              </div>
			   

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   
   
  </div>
</section>
{{> scripts }}

</body>

</html>