<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}

<body>
    <section class="gary-color vh-100">
        <div class="container">
            {{> middle-logo }}
            <div class="row">
                <div class="col-lg-6 col-xl-6 mx-auto">
                    <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">

                        <div class="card-body p-4 p-sm-5">
                            <div class="section-title text-center">
                                <h2>Load Page</h2>
                            </div>
                            <form>
                                <div class="fw-bold fs-2 text-center" id="timer" >
                                 </div>
                                <div class="d-grid mb-2 mt-4">
                                    <button  class="btn btn-lg btn-primary btn-login" id="loadCom_subbtn"
                                        >Load Complete Run Part<span></span></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {{> scripts }}
    <script src="js/load-pagejs-script.js"></script>

</body>
