<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

  <header class="header">
    <nav class="navbar navbar-light blue-gradient navbar-static-top navbar-expand-lg header-sticky ">
        <div class="container-fluid">
			<div class="row ">
				<div class="col-md-4 ">
					
					
				</div>
				<div class="col-md-4 offset-md-4" >
					{{#if userInfo.is_logged_in}}
				
					<button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fa fa-align-justify text-white" aria-hidden="true"></i></button>
					<div class="navbar-collapse collapse p-3 float-end me-1">
						<ul class="nav navbar-nav d-none d-lg-block">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-0" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="logout"><i class="fa fa-sign-out " aria-hidden="true"></i>Log Out</a></li>
                                        
                                    </ul>
                                </li>
                                
                            </ul>
                            <ul class="nav navbar-nav d-block d-lg-none p-0">
                                <li class="nav-item dropdown">
                                    <a class="p-2" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a  class="p-2" href="logout" >
                                        <i class="fa fa-sign-out me-2" aria-hidden="true"></i> Log Out
                                    </a>
                                    
                                </li>
                                
                            </ul>
						
					</div>       
				
				{{/if}}  
				</div>
			</div>
        </div>    
          
		</div>
	</nav>
</header>


<section class="gary-color vh-100">
 <div class="container">
      {{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
              <h2>Login</h2>
            </div>
            <form id="login_form">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="userID" id="login_userId" placeholder="User ID" data-rule-minlength="6"  data-msg-minlength="User ID must be atleast 6 characters long.">
                <label>User ID</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="login_pwd" placeholder="Password" data-rule-minlength="6" data-rule-required="true" data-msg-minlength="Password must be atleast 6 characters long." data-rule-passwordCheck="true">
                <label>Password</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="remember-me" id="remember_me">
                <label class="form-check-label" >
                  Remember Me
                </label>
              </div>
              <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary  " type="button" id="login_subbtn">Login<span></span></button>
              </div>
              <div class="d-flex  mb-3">
                <div class="me-auto p-2 ">
                <a class="btn btn-link btn-link-left p-0" href="sign-up"><i class="fa fa-angle-double-left"></i>Sign Up</a>
                </div>
                <div class="p-2">
                  <a class="btn btn-link btn-link-right p-0" href="forgot-password">Forgot Password<i class="ms-2 fa fa-angle-double-right"></i></a>
                </div>
              
              </div> 

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

 {{> scripts }}
<script src="js/loginjs-script.js"></script>
</body>

</html>
