<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}

<section class="gary-color vh-100">
  <div class="container">
    {{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
              <h2>Maintenance</h2>
            </div>
           <form id="mainten_form">
             <div class="fw-bold fs-2 text-center" id="timer" >
                </div>
              {{#if userInfo.set_all_option }}
                <div class="form-floating mb-3">
                  <select class="form-select basic-select" name="reason" id="mainten_op_reason" data-rule-required="true">
                                
                  </select>
                  <label >Select operator reason for maintenance</label>
                </div>  
                {{else}}	
                 <div class="form-floating mb-3">
                  <select class="form-select" name="reason" id="mainten_maint_reason" data-rule-required="true">
                    
                  </select>
                  <label >Select maintenance reason for maintenance</label>
                </div>
              {{/if}}	  
              <div class="d-grid mb-2 mt-4">
                  <button class="btn btn-lg btn-primary btn-login " type="button" id="mainten_finish_subbtn">Finish<span></span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

 {{> scripts }}
 <script src="js/maintenancejs-script.js"></script>
 <script src="js/finishjs-script.js"></script>


</body>

</html>