<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}
	<style>
		.navbar>.container, .navbar>.container-fluid{
			display: block;
		}
	</style>	
	
  </head>

<body>

	 {{> navbar }}

<section class="gary-color vh-100">
 <div class="container">
	{{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3" >
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
				<h2>Main Menu</h2>
          
			</div>
              	
            {{#if userInfo.set_all_option }}		
				<div class="d-grid mb-2 mt-4">
					<a href="/part-menu" class="btn btn-lg btn-primary btn-login ">Start Part</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<button id="replaceTool_startbtn" href="/replace-tool" class="btn btn-lg btn-primary btn-login ">Replace Tool<span></span></button>
				</div>
				<div class="d-grid mb-2 mt-4">
					<button  id="pend_startBtn" class="btn btn-lg btn-primary btn-login">Pending<span></span></button>
				</div>
				<div class="d-grid mb-2 mt-4">
					<button id="mainten_startbtn" class="btn btn-lg btn-primary btn-login ">Maintenance<span></span></button>
				</div>
				<div class="d-grid mb-2 mt-4">
					<button id="outoford_startbtn" class="btn btn-lg btn-primary btn-login">Out of Order<span></span></button>
				</div>
		
				{{else}}		
					<div class="d-grid mb-2 mt-4">
						<button id="mainten_startbtn" class="btn btn-lg btn-primary btn-login ">Maintenance</button>
					</div>
					<div class="d-grid mb-2 mt-4">
						<button id="outoford_startbtn" class="btn btn-lg btn-primary btn-login ">Out of Order</button>
					</div>
			{{/if}}
		
          </div>
        </div>
		
      </div>
    </div>
  </div>
   
   
  </div>
</section>

<script>
	localStorage.clear();
</script>
 {{> scripts }}
<script src="js/menu.js"></script>


</body>

</html>
