<div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="justify-content-between text-center mt-4">
        <a class="logo " href={{userInfo.home_url}}><img src="images/logo-2.png" alt="logo"></a>
    </div>	
    </div>
</div>