<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}
	<style>
		.navbar>.container, .navbar>.container-fluid{
			display: block;
		}
	</style>	
	
  </head>

<body>

	 <header class="header">
    <nav class="navbar navbar-light blue-gradient navbar-static-top navbar-expand-lg header-sticky ">
        <div class="container-fluid">
			<div class="row ">
				<div class="col-md-4 ">
					<div class="p-3">
						<span >Site : {{userInfo.mcID}}</span>
						<span class="ms-2">Id : {{userInfo.sitID}}</span>
					</div>
					
				</div>
				<div class="col-md-4 offset-md-4" >
					{{#if userInfo.is_logged_in}}
				
					<button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fa fa-align-justify text-white" aria-hidden="true"></i></button>
					<div class="navbar-collapse collapse p-3 float-end me-1">
						<ul class="nav navbar-nav d-none d-lg-block">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-0" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="logout"><i class="fa fa-sign-out " aria-hidden="true"></i>Log Out</a></li>
                                        
                                    </ul>
                                </li>
                                
                            </ul>
                            <ul class="nav navbar-nav d-block d-lg-none p-0">
                                <li class="nav-item dropdown">
                                    <a class="p-2" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a  class="p-2" href="logout" >
                                        <i class="fa fa-sign-out me-2" aria-hidden="true"></i> Log Out
                                    </a>
                                    
                                </li>
                                
                            </ul>
						
					</div>       
				
				{{/if}}  
				</div>
			</div>
        </div>    
          
		</div>
	</nav>
</header>

<section class="gary-color vh-100">
 <div class="container">
	{{> middle-logo }}
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-4 border-0 shadow rounded-3" >
         
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
				<h2>Main Menu</h2>
          
			</div>
              	
            {{#if userInfo.set_all_option }}		
				<div class="d-grid mb-2 mt-4">
					<a href="/part-menu" class="btn btn-lg btn-primary btn-login ">Start Part</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/replace-tool" class="btn btn-lg btn-primary btn-login ">Replace Tool</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/pending" class="btn btn-lg btn-primary btn-login ">Pending</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/maintenance" class="btn btn-lg btn-primary btn-login ">Maintenance</a>
				</div>
				<div class="d-grid mb-2 mt-4">
					<a href="/out-of-order" class="btn btn-lg btn-primary btn-login ">Out of Order</a>
				</div>
		
				{{else}}		
					<div class="d-grid mb-2 mt-4">
						<a href="/maintenance" class="btn btn-lg btn-primary btn-login ">Maintenance</a>
					</div>
					<div class="d-grid mb-2 mt-4">
						<a href="/out-of-order" class="btn btn-lg btn-primary btn-login ">Out of Order</a>
					</div>
			{{/if}}
		
          </div>
        </div>
		
      </div>
    </div>
  </div>
   
   
  </div>
</section>

<script>
	localStorage.clear();
</script>
 {{> scripts }}
	


</body>

</html>
