<header class="header">
    <nav class="navbar navbar-light blue-gradient navbar-static-top navbar-expand-lg header-sticky ">
        <div class="container-fluid">
			<div class="row ">
				<div class="col-md-4 ">
					<div class="p-3">
						<span >Site : Kirkland</span>
						<span class="ms-2">Id : DSF0375</span>
					</div>
					
				</div>
				<div class="col-md-4 offset-md-4" >
					{{#if userInfo.is_logged_in}}
				
					<button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fa fa-align-justify text-white" aria-hidden="true"></i></button>
					<div class="navbar-collapse collapse p-3 float-end me-1">
						<ul class="nav navbar-nav d-none d-lg-block">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-0" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="logout"><i class="fa fa-sign-out " aria-hidden="true"></i>Log Out</a></li>
                                        
                                    </ul>
                                </li>
                                
                            </ul>
                            <ul class="nav navbar-nav d-block d-lg-none p-0">
                                <li class="nav-item dropdown">
                                    <a class="p-2" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user me-2" aria-hidden="true"></i> {{userInfo.first_name}} {{userInfo.last_name}}
                                    </a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a  class="p-2" href="logout" >
                                        <i class="fa fa-sign-out me-2" aria-hidden="true"></i> Log Out
                                    </a>
                                    
                                </li>
                                
                            </ul>
						
					</div>       
				
				{{/if}}  
				</div>
			</div>
        </div>    
          
		</div>
	</nav>
</header>
