<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

  {{> navbar }}
  <section class="gary-color">
  <div class="container">
    {{> middle-logo }}
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
          <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <div class="section-title text-center">
            <h2>Part Menu</h2>
          </div>
              <form>
                <div class="form-floating mb-3">
                  <select class="form-select" name="reason" id="PS_opCode" data-rule-required="true">
                    <option  value=""></option> 
                    <option  value="63005828000">63005828000</option>
                    <option  value="63005829000">63005829000</option>
                    <option  value="63610789010">63610789010</option>
                    <option  value="63610789200">63610789200</option>
                    <option  value="63005829202">63005829202</option>
                  </select>
                  <label >Select Operation Code</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  id="opName" placeholder="Operator Name" value="{{userInfo.first_name}} {{userInfo.last_name}}" disabled>
                  <label for="Operator Name">Operator Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="wrkorder" placeholder="Work Order" disabled>
                  <label for="Workorder">Work Order</label>
                </div>
                 <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="opNum" placeholder="Opeartion  Number" disabled>
                  <label for="Workorder">Operation  Number</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  id="opDesc" placeholder="Operation Description" disabled> 
                  <label for="Operator Name">Operation Description</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="partNum" placeholder="Part  Number" disabled>
                  <label for="Workorder">Part  Number</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  id="partDesc" placeholder="Part Description" disabled> 
                  <label for="Operator Name">Part Description</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="numPart_toProd" placeholder="Number of Part to produce">
                  <label for="floatingInputUsername">Number of Part to Produce</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="pm-reqtype" value="100002" >
                  <label class="form-check-label">Load Required</label>
                </div>

                <div class="d-grid mb-2 mt-4">
                  <button id="pm_startBtn" class="btn btn-lg btn-primary btn-login" disabled>Start Part<span> </span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
  </section>
  {{> scripts }}
 <script src="js/part-menujs-script.js"></script>
</body>

</html>
