<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}
<section class="gary-color vh-100">
    <div class="container">
        {{> middle-logo }}
        <div class="row">
            <div class="col-lg-6 col-xl-6 mx-auto">
                <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-4 p-sm-5">
                        <div class="section-title text-center">
                            <h2>Part in Progress</h2>
                        </div>
                        <div class="d-grid mb-2 mt-4">
                            <button  type="button" class="btn btn-lg btn-primary btn-login" id="partPrg_finsh">Finish  & Unload</button>
                        </div>
                        <div class="d-grid mb-2 mt-4">
                            <button type="button" class="btn btn-lg btn-primary btn-login" id="partPrg_RTpause">Pause - Replace Tool<span></span></button>
                        </div>
                        <div class="d-grid mb-2 mt-4">
                            <button type="button" class="btn btn-lg btn-primary btn-login" id="partPrg_pause">Pause<span></span></button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-container"></div>
    </div>
</section>

 {{> scripts }}
<script src="js/part-in-progressjs-script.js"></script>

</body>

