<div class="modal fade" id="repalce_pause_popup" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Pause - Replace Tool</h5>
        </div>
      </div>
      <div class="modal-body">
       <form id="replaceTool_form">
             <div class="fw-bold fs-2 text-center" id="timer" >
            </div>
            <div class="form-floating mt-2">
                <textarea class="form-control" placeholder="Write a Note" id="replaceNote"  name="replaceTool-comment"rows="3"></textarea>
                <label >Write a Note</label>
            </div>  
            <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary btn-login " type="button" id="partPrg_RT_resume">Resume<span></span></button>
            </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
    
 