<!DOCTYPE html>
<html lang="en">

<head>
  {{> style }}
  <style>
    #quality_popup .modal-dialog-scrollable {
      height: calc(70% - 3.5rem);
    }

    .select2-container {

      z-index: 9999;
    }

    .form-floating>.form-select~label {

      z-index: 99999;
    }

    .form-check-label {
      font-weight: 500;
      color: #222;
    }

    .form-check-input {
      border: 3px solid #222;
    }
  </style>
</head>

<body>

  {{> navbar }}

  <section class="gary-color vh-100">
    <div class="container">
      {{> middle-logo }}
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
          <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <div class="section-title text-center">
                <h2>Part Complete</h2>
              </div>
              <form>
                <div class="form-floating mb-3">
                  <input type="hidden" class="form-control d-none" id="num_quantity"
                    value={{userInfo.partmenu_quantity}} disabled>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="num_gdpart" disabled>
                  <label>Enter the number of good parts</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" id="unload_check" name="unload-check">
                  <label class="form-check-label">
                    Unload Complete
                  </label>
                </div>

                <div class="row">
                  <div class="d-grid mb-2 mt-4">
                    <button class="btn btn-lg btn-primary btn-login " type="button" id="PC_finishpartBtn">Finish
                      Part<span></span></button>
                  </div>
                  <div class="d-grid mb-2 mt-2">
                    <button class="btn btn-lg btn-primary btn-login " type="button" id="pc_returnOp">Return
                      Operation<span></span></button>
                  </div>
                  <div class="d-grid mb-2 mt-2">
                    <button class="btn btn-lg btn-primary btn-login " type="button" id="pc_repeatOp">Repeat
                      Operation<span></span></button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="quality_popup" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-scrollable " style="position:relative; margin-top: 50px ">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="staticBackdropLabel">Quality</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="container" id="quality_form">
              <div class="row">
                <div class="col-sm-11">
                  <div class="form-floating mb-2">
                    <select class="form-select mb-3 " name="qualityReason[]" id="qualityReason_1">
                      <option value=""></option>
                      <option value="1">Incorrect Tool</option>

                    </select>
                    <label>Select Reason for discrepancy 1</label>
                  </div>
                </div>
                <div class="col-sm-1" id="more_actbtn">
                  <a href="javascript: void(0);"
                    class="addMoreActivity-btn pull-right  flat-color-2 mt-2 mb-2 mt fa-lg " title="Add More "><i
                      class="fa fa-plus-circle " aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" disabled class="btn btn-primary completebutton" id="quality_subbtn"
              data-bs-dismiss="modal">Complete<span></span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </section>

  {{> scripts }}
  <script src="js/part-completejs-script.js"></script>

</body>

</html>