<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

  {{> navbar }}
  <section class="gary-color vh-100">
  <div class="container">
    {{> middle-logo }}
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto">
          <div class="card flex-row my-4 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <div class="section-title text-center">
            <h2>Pending</h2>
            <div class="fw-bold fs-2 text-center" id="timer" >
                </div>
          </div>
              <form id="pending_form">
                {{!-- <div class="form-floating mb-3">
                  <select class="form-select" name="reason" id="pending_opCode" data-rule-required="true">
                    <option  value=""></option> 
                    <option  value="63005828000">63005828000</option>
                    <option  value="63005829000">63005829000</option>
                    <option  value="63610789010">63610789010</option>
                    <option  value="63610789200">63610789200</option>
                    <option  value="63005829202">63005829202</option>
                  </select>
                  <label >Select Operation Code</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  id="opName" placeholder="Operator Name" value="{{userInfo.first_name}} {{userInfo.last_name}}" disabled>
                  <label for="Operator Name">Operator Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="wrkorder" placeholder="Work Order" disabled>
                  <label for="Workorder">Work Order</label>
                </div>
                 <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="opNum" placeholder="Opeartion  Number" disabled>
                  <label for="Workorder">Operation  Number</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="partNum" placeholder="Part  Number" disabled>
                  <label for="Workorder">Part  Number</label>
                </div> --}}
                <div class="form-floating mb-3">
                  <select class="form-select" name="reason" id="pending_opreason" data-rule-required="true">
                    <option  value=""></option> 
                  </select>
                  <label >Operator Reason for Pending</label>
        
                </div>

                <div class="d-grid mb-2 mt-4">
                  <button id="pend_finish_subbtn" class="btn btn-lg btn-primary btn-login" >Finish<span> </span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
  </section>
  {{> scripts }}
 <script src="js/pendingjs-script.js"></script>
  <script src="js/finishjs-script.js"></script>
</body>

</html>
