<!DOCTYPE html>
<html lang="en">

  <head>
    {{> style }}

  </head>

<body>

 {{> navbar }}

<section class="gary-color ">
 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <div class="section-title text-center">
              <h2>Sign Up</h2>
            </div>
            <form>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="signup_email" placeholder="Email Id" data-rule-required="true" data-rule-emailCheck="true">
                <label>Email Id</label>
              </div>
			        <div class="form-floating mb-3">
                <input type="text" class="form-control" name="phone-number" id="signup_phonenum" placeholder="Phone Number">
                <label>Phone Number</label>
              </div>
			        <div class="form-floating mb-3">
                <input type="text" class="form-control" name="operator-ID" id="signup_operatorID" placeholder="Operator Id">
                <label>Operator Id</label>
              </div>
			        <div class="form-floating mb-3">
                <input type="text" class="form-control" name="fname" id="signup_fname" placeholder="First Name">
                <label>First Name</label>
              </div>
			        <div class="form-floating mb-3">
                <input type="text" class="form-control" name="lname" id="signup_lname" placeholder="Last Name" required autofocus>
                <label>Last Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="signup_pwd" placeholder="Password">
                <label >Password</label>
              </div>
              <div class="form-floating mb-4">
                <input type="password" class="form-control" name="cnf-password" id="signup_cnfpwd" placeholder="Confirm Password">
                <label>Confirm Password</label>
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="role-id" value="102" id="signup_roleOperator" checked>
                <label class="form-check-label">
                Operator
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role-id" value="103" id="signup_roleMaintenance">
                <label class="form-check-label">
                Maintenance
                </label>
              </div>
              <div class="d-grid mb-2 mt-4">
                <button class="btn btn-lg btn-primary btn-login " type="button" id="register_subbtn">Register<span></span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   
   
  </div>
</section>

 {{> scripts }}
<script src="js/signupjs-script.js"></script>
</body>

</html>