.custom-vh100{
    min-height: 100vh!important;
}
.header .login-top-bar  {
        flex: 100%;
}
.blue-gradient{
    background-color: #1D428A;

}
.header .is-sticky {
    background-color: #1D428A;

}
.gary-color{
	background-color: #F6F7F9;
	
}
.btn-link{
	transition: all ease .4s;
}
.btn-link i{
	transition: all ease .4s;
}
.btn-link-left:hover i {
	margin-left: -5px;
}
.btn-link-right:hover i{
	margin-right: -5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
    
}
.select2-container .select2-selection--single .select2-selection__rendered {
  
    padding-left: 10px;
    color: #000;
    font-weight: 600;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  
    line-height: 75px;
}
.select2-container--default .select2-selection--single {
	height: calc(3rem + 2px);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   
    top: 10px;
   
}
.select2-container--default .select2-selection--single {
   
    border: 1px solid #ddd;
    
}
div.input-error, input + label.error, span#error-msg, #valid-msg {
    color: #d03e3e;
    font-size: 12px;
    font-weight: 500;
}
.select2-results__option {
   color:#000;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
    font-weight: 400;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ccc;
    color: #000;
}
.site-search .select2-container--default .select2-selection--single {
    border: 1px solid #53565a;
}
.site-search .select2-container--default .select2-selection--single {
    height: calc(3rem + 9px);
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 0.9;
}
.form-floating> textarea.form-control{
    height: calc(5.5rem + 2px);
}
.loading-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff70;
    z-index: 2000;
  }
  .loading-ring{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 40px;
    font-weight: 700;
  
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #1D428A;
    color: #ffff  !important;
    border-color: #1D428A;
  }
 .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #53565A;
    border-color: #53565A;
  }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
   color: #53565A;
}
table.dataTable td.dt-control:before {
    background-color: #007A33;
}
table.dataTable tr.dt-hasChild td.dt-control:before {
    background-color:#FE5000;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #53565A;
    border-color: #53565A;
}
.navbar>.container, .navbar>.container-fluid{
			display: block;
		}
.time-error{
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 12px;
}
.fs-12{
    font-size: 12px;
}